<div data-id="<%= education.id %>" class="col-md-6 pt-3 item">
  <div class="list-group-item flex-column align-items-start">
    <div class="d-flex justify-content-between pb-2 pt-2">
      <h5 class="mb-1"><%= education.course %></h5>
      <small><%= education.start_date %><br /><%= education.end_date %></small>
      <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group">
          <%= link_to t(:edit, scope: %i[helpers]), [:edit, :admin, education], class: 'btn btn-primary btn-sm btn-outline-secondary' %>
          <%= link_to t(:delete, scope: %i[helpers]), [:admin, education], class: 'btn btn-primary btn-sm btn-danger', method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      </div>
    </div>
    <%= markdown education.description %>
  </div>
</div>
