
<%= simple_form_for([:admin, education]) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :course %>
    <%= f.input :institution %>
    <%= f.input :description %>
    <%= f.input :start_date %>
    <%= f.input :locale, as: :hidden %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
