<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2"><%= t(:dashboard, scope: %i[helpers]) %></h1>
</div>

<div>
  <p id="notice"><%= notice %></p>
</div>

<div class="dashboard row">
  <div class="col-md-6 pt-3">
    <h2><%= About.model_name.human %></h2>
    <canvas id="about"></canvas>
  </div>
  <div class="col-md-6 pt-3">
    <h2><%= Education.model_name.human %></h2>
    <canvas id="educations"></canvas>
  </div>
  <div class="col-md-6 pt-3">
    <h2><%= Skill.model_name.human %></h2>
    <canvas id="skills"></canvas>
  </div>
  <div class="col-md-6 pt-3">
    <h2><%= WorkExperience.model_name.human %></h2>
    <canvas id="work_experiences"></canvas>
  </div>
</div>
