<div class="page experiences">
  <div class="col left">
    <h1><%= t(:experience, scope: %i[cv]) %></h1>
    <ul class="arrow">
      <% @work_experiences.cv.each do |experience| %>
        <li>
          <h3>
            <%= experience.company_name %>
            <span>(<%= experience.start_date %> - <%= experience.end_date %>)</span>
          </h3>
          <%= markdown experience.description %>
        </li>
      <% end %>
    </ul>
    <p class="footnote"><%= t(:previous_experiences_html, scope: %i[cv], link: link_to(request.host, root_url)) %></p>
  </div>
  <div class="col right">
    <h1><%= t(:skill, scope: %i[cv]) %></h1>
    <ul class="skills">
      <% @skills.cv.each do |skill| %>
        <li>
          <span class="skill s-<%= skill.value.to_i %>"><%= skill.name %></span>
        </li>
      <% end %>
    </ul>
  </div>
</div>
