<section class="experience" id="experience">
  <div class="container">
    <div class="heading">
      <h2><%= t('title', scope: %i[frontend experience]) %></h2>
      <p><%= t('subtitle', scope: %i[frontend experience]) %></p>
    </div>
    <% @work_experiences.each do |experience| %>
      <div class="row work-details">
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-2 left-area">
          <div class="year">
            <span class="start"><%= experience.start_date %></span>
            <span class="end"><%= experience.end_date %></span>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-9 col-lg-10 right-area">
          <div class="arrowpart"></div>
          <div class="ex-con">
            <h4><span><%= experience.company_name %></span> - <span><span><%= experience.city %></span> - <span><%= experience.country %></span></span></h4>
            <h5><%= experience.position %></h5>
            <div class="description"><%= markdown experience.description %></div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</section>
