	<!--about me start-->
	<section class="aboutme" id="aboutme">
		<div class="container">
			<div class="heading">
				<h2><%=t(:title, scope: [:about])%></h2>
			</div>
			<div class="row">
				<div class=" col-xs-12 col-sm-12 col-md-7 col-lg-7">
					<h3 itemprop="name"><%=t(:name, scope: [:template])%></h3>
					<h4 class="subHeading" itemprop="jobTitle"><%=t(:job_title, scope: [:about])%></h4>
					<%=t(:text, scope: [:about]).html_safe%>
					<%=link_to t(:file_title, scope: [:about]), t(:file, scope: [:about]), class: "bntDownload", target: :_blank %>
				</div>
				<div class=" col-xs-12 col-sm-12 col-md-4 col-lg-4 col-md-offset-1 col-lg-offset-1 proPic"> <%= image_tag asset_url("website/gmmcal.png"), alt: t(:name, scope: [:template]), class: "topmar", itemprop: "image" %> </div>
			</div>
		</div>
	</section>
	<!--about me end-->
	<!--technical start-->
	<section class="technical" id="technical">
		<div class="container">
			<div class="heading">
				<h2><%=t(:title, scope: [:skills])%></h2>
				<p><%=t(:subtitle, scope: [:skills])%></p>
			</div>
			<div class="row">
				<div class=" col-xs-12 col-sm-4 col-md-4 col-lg-4 skillsArea">
					<div class=" col-xs-12 col-sm-6 col-md-6 col-lg-6 skills"> <span class="chart skilBg" data-percent="<%=t(:skill1_percentage, scope: [:skills, :details])%>"> <span class="percent"></span> </span>
						<h4><%=t(:skill1_name, scope: [:skills, :details])%></h4>
						<p><%=t(:skill1_title, scope: [:skills, :details])%></p>
					</div>
				</div>
				<div class=" col-xs-12 col-sm-4 col-md-4 col-lg-4 skillsArea">
					<div class=" col-xs-12 col-sm-6 col-md-6 col-lg-6 skills"> <span class="chart skilBg" data-percent="<%=t(:skill2_percentage, scope: [:skills, :details])%>"> <span class="percent"></span> </span>
						<h4><%=t(:skill2_name, scope: [:skills, :details])%></h4>
						<p><%=t(:skill2_title, scope: [:skills, :details])%></p>
					</div>
				</div>
				<div class=" col-xs-12 col-sm-4 col-md-4 col-lg-4 skillsArea">
					<div class=" col-xs-12 col-sm-6 col-md-6 col-lg-6 skills"> <span class="chart skilBg" data-percent="<%=t(:skill3_percentage, scope: [:skills, :details])%>"> <span class="percent"></span> </span>
						<h4><%=t(:skill3_name, scope: [:skills, :details])%></h4>
						<p><%=t(:skill3_title, scope: [:skills, :details])%></p>
					</div>
				</div>
				<div class=" col-xs-12 col-sm-4 col-md-4 col-lg-4 skillsArea">
					<div class=" col-xs-12 col-sm-6 col-md-6 col-lg-6 skills"> <span class="chart skilBg" data-percent="<%=t(:skill4_percentage, scope: [:skills, :details])%>"> <span class="percent"></span> </span>
						<h4><%=t(:skill4_name, scope: [:skills, :details])%></h4>
						<p><%=t(:skill4_title, scope: [:skills, :details])%></p>
					</div>
				</div>
				<div class=" col-xs-12 col-sm-4 col-md-4 col-lg-4 skillsArea">
					<div class=" col-xs-12 col-sm-6 col-md-6 col-lg-6 skills"> <span class="chart skilBg" data-percent="<%=t(:skill5_percentage, scope: [:skills, :details])%>"> <span class="percent"></span> </span>
						<h4><%=t(:skill5_name, scope: [:skills, :details])%></h4>
						<p><%=t(:skill5_title, scope: [:skills, :details])%></p>
					</div>
				</div>
				<div class=" col-xs-12 col-sm-4 col-md-4 col-lg-4 skillsArea">
					<div class=" col-xs-12 col-sm-6 col-md-6 col-lg-6 skills"> <span class="chart skilBg" data-percent="<%=t(:skill6_percentage, scope: [:skills, :details])%>"> <span class="percent"></span> </span>
						<h4><%=t(:skill6_name, scope: [:skills, :details])%></h4>
						<p><%=t(:skill6_title, scope: [:skills, :details])%></p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--technical end-->
	<!--experience start-->
	<section class="experience" id="experience">
		<div class="container">
			<div class="heading">
				<h2><%=t(:title, scope: [:experience])%></h2>
				<p><%=t(:subtitle, scope: [:experience])%></p>
			</div>
			<div class="row workDetails" itemprop="worksFor" itemscope itemtype="https://schema.org/Organization">
				<div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
					<div class="workYear"><%=t(:start_date, scope: [:experience, :items, :item7])%><br><%=t(:end_date, scope: [:experience, :items, :item7])%></div>
				</div>
				<div class="col-xs-12 col-sm-9 col-md-10 col-lg-10 rightArea">
					<div class="arrowpart"></div>
					<div class="exCon">
						<h4><span itemprop="legalName"><%=t(:name, scope: [:experience, :items, :item7])%></span> - <span itemprop="location" itemscope itemtype="https://schema.org/PostalAddress"><span itemprop="addressLocality"><%=t(:city, scope: [:experience, :items, :item7])%></span> - <span itemprop="addressRegion"><%=t(:region, scope: [:experience, :items, :item7])%></span> - <span itemprop="addressCountry"><%=t(:country, scope: [:experience, :items, :item7])%></span></span></h4>
						<h5><%=t(:position, scope: [:experience, :items, :item7])%></h5>
						<p itemprop="description"><%=t(:description, scope: [:experience, :items, :item7])%></p>
					</div>
				</div>
			</div>
			<div class="row workDetails" itemprop="worksFor" itemscope itemtype="https://schema.org/Organization">
				<div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
					<div class="workYear"><%=t(:start_date, scope: [:experience, :items, :item6])%><br><%=t(:end_date, scope: [:experience, :items, :item6])%></div>
				</div>
				<div class="col-xs-12 col-sm-9 col-md-10 col-lg-10 rightArea">
					<div class="arrowpart"></div>
					<div class="exCon">
						<h4><span itemprop="legalName"><%=t(:name, scope: [:experience, :items, :item6])%></span> - <span itemprop="location" itemscope itemtype="https://schema.org/PostalAddress"><span itemprop="addressLocality"><%=t(:city, scope: [:experience, :items, :item6])%></span> - <span itemprop="addressRegion"><%=t(:region, scope: [:experience, :items, :item6])%></span> - <span itemprop="addressCountry"><%=t(:country, scope: [:experience, :items, :item6])%></span></span></h4>
						<h5><%=t(:position, scope: [:experience, :items, :item6])%></h5>
						<p itemprop="description"><%=t(:description, scope: [:experience, :items, :item6])%></p>
					</div>
				</div>
			</div>
			<!-- <div class="row workDetails" itemprop="worksFor" itemscope itemtype="https://schema.org/Organization">
				<div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
					<div class="workYear"><%=t(:start_date, scope: [:experience, :items, :item5])%><br><%=t(:end_date, scope: [:experience, :items, :item5])%></div>
				</div>
				<div class="col-xs-12 col-sm-9 col-md-10 col-lg-10 rightArea">
					<div class="arrowpart"></div>
					<div class="exCon">
						<h4><span itemprop="legalName"><%=t(:name, scope: [:experience, :items, :item5])%></span> - <span itemprop="location" itemscope itemtype="https://schema.org/PostalAddress"><span itemprop="addressLocality"><%=t(:city, scope: [:experience, :items, :item5])%></span> - <span itemprop="addressRegion"><%=t(:region, scope: [:experience, :items, :item5])%></span> - <span itemprop="addressCountry"><%=t(:country, scope: [:experience, :items, :item5])%></span></span></h4>
						<h5><%=t(:position, scope: [:experience, :items, :item5])%></h5>
						<p itemprop="description"><%=t(:description, scope: [:experience, :items, :item5])%></p>
					</div>
				</div>
			</div> -->
			<div class="row workDetails" itemprop="worksFor" itemscope itemtype="https://schema.org/Organization">
				<div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
					<div class="workYear"><%=t(:start_date, scope: [:experience, :items, :item4])%><br><%=t(:end_date, scope: [:experience, :items, :item4])%></div>
				</div>
				<div class="col-xs-12 col-sm-9 col-md-10 col-lg-10 rightArea">
					<div class="arrowpart"></div>
					<div class="exCon">
						<h4><span itemprop="legalName"><%=t(:name, scope: [:experience, :items, :item4])%></span> - <span itemprop="location" itemscope itemtype="https://schema.org/PostalAddress"><span itemprop="addressLocality"><%=t(:city, scope: [:experience, :items, :item4])%></span> - <span itemprop="addressRegion"><%=t(:region, scope: [:experience, :items, :item4])%></span> - <span itemprop="addressCountry"><%=t(:country, scope: [:experience, :items, :item4])%></span></span></h4>
						<h5><%=t(:position, scope: [:experience, :items, :item4])%></h5>
						<p itemprop="description"><%=t(:description, scope: [:experience, :items, :item4])%></p>
					</div>
				</div>
			</div>
			<div class="row workDetails" itemprop="worksFor" itemscope itemtype="https://schema.org/Organization">
				<div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
					<div class="workYear"><%=t(:start_date, scope: [:experience, :items, :item3])%><br><%=t(:end_date, scope: [:experience, :items, :item3])%></div>
				</div>
				<div class="col-xs-12 col-sm-9 col-md-10 col-lg-10 rightArea">
					<div class="arrowpart"></div>
					<div class="exCon">
						<h4><span itemprop="legalName"><%=t(:name, scope: [:experience, :items, :item3])%></span> - <span itemprop="location" itemscope itemtype="https://schema.org/PostalAddress"><span itemprop="addressLocality"><%=t(:city, scope: [:experience, :items, :item3])%></span> - <span itemprop="addressRegion"><%=t(:region, scope: [:experience, :items, :item3])%></span> - <span itemprop="addressCountry"><%=t(:country, scope: [:experience, :items, :item3])%></span></span></h4>
						<h5><%=t(:position, scope: [:experience, :items, :item3])%></h5>
						<p itemprop="description"><%=t(:description, scope: [:experience, :items, :item3])%></p>
					</div>
				</div>
			</div>
			<div class="row workDetails" itemprop="worksFor" itemscope itemtype="https://schema.org/Organization">
				<div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
					<div class="workYear"><%=t(:start_date, scope: [:experience, :items, :item2])%><br><%=t(:end_date, scope: [:experience, :items, :item2])%></div>
				</div>
				<div class="col-xs-12 col-sm-9 col-md-10 col-lg-10 rightArea">
					<div class="arrowpart"></div>
					<div class="exCon">
						<h4><span itemprop="legalName"><%=t(:name, scope: [:experience, :items, :item2])%></span> - <span itemprop="location" itemscope itemtype="https://schema.org/PostalAddress"><span itemprop="addressLocality"><%=t(:city, scope: [:experience, :items, :item2])%></span> - <span itemprop="addressRegion"><%=t(:region, scope: [:experience, :items, :item2])%></span> - <span itemprop="addressCountry"><%=t(:country, scope: [:experience, :items, :item2])%></span></span></h4>
						<h5><%=t(:position, scope: [:experience, :items, :item2])%></h5>
						<p itemprop="description"><%=t(:description, scope: [:experience, :items, :item2])%></p>
					</div>
				</div>
			</div>
			<div class="row workDetails" itemprop="worksFor" itemscope itemtype="https://schema.org/Organization">
				<div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
					<div class="workYear"><%=t(:start_date, scope: [:experience, :items, :item1])%><br><%=t(:end_date, scope: [:experience, :items, :item1])%></div>
				</div>
				<div class="col-xs-12 col-sm-9 col-md-10 col-lg-10 rightArea">
					<div class="arrowpart"></div>
					<div class="exCon">
						<h4><span itemprop="legalName"><%=t(:name, scope: [:experience, :items, :item1])%></span> - <span itemprop="location" itemscope itemtype="https://schema.org/PostalAddress"><span itemprop="addressLocality"><%=t(:city, scope: [:experience, :items, :item1])%></span> - <span itemprop="addressRegion"><%=t(:region, scope: [:experience, :items, :item1])%></span> - <span itemprop="addressCountry"><%=t(:country, scope: [:experience, :items, :item1])%></span></span></h4>
						<h5><%=t(:position, scope: [:experience, :items, :item1])%></h5>
						<p itemprop="description"><%=t(:description, scope: [:experience, :items, :item1])%></p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--experience end-->
	<!--education start-->
	<section class="education" id="education">
		<div class="container">
			<div class="heading">
				<h2><%=t(:title, scope: [:education])%></h2>
				<p><%=t(:subtitle, scope: [:education])%></p>
			</div>

			<div class="row workDetails" itemprop="alumniOf" itemscope itemtype="https://schema.org/CollegeOrUniversity">
				<div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
					<div class="workYear"><%=t(:date, scope: [:education, :items, :item2])%></div>
				</div>
				<div class="col-xs-12 col-sm-9 col-md-10 col-lg-10 rightArea">
					<div class="arrowpart"></div>
					<div class="exCon">
						<h4><%=t(:course, scope: [:education, :items, :item2])%></h4>
						<h5 itemprop="legalName"><%=t(:institution, scope: [:education, :items, :item2])%></h5>
						<p itemprop="description"><%=t(:description, scope: [:education, :items, :item2])%></p>
					</div>
				</div>
			</div>
			<div class="row workDetails" itemprop="alumniOf" itemscope itemtype="https://schema.org/CollegeOrUniversity">
				<div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
					<div class="workYear"><%=t(:date, scope: [:education, :items, :item1])%></div>
				</div>
				<div class="col-xs-12 col-sm-9 col-md-10 col-lg-10 rightArea">
					<div class="arrowpart"></div>
					<div class="exCon">
						<h4><%=t(:course, scope: [:education, :items, :item1])%></h4>
						<h5 itemprop="legalName"><%=t(:institution, scope: [:education, :items, :item1])%></h5>
						<p itemprop="description"><%=t(:description, scope: [:education, :items, :item1])%></p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--education end-->
	<!--portfolio start-->
	<section class="portfolio" id="portfolio">
		<div class="container">
			<div class="heading">
				<h2><%=t(:title, scope: [:portfolio])%></h2>
				<p><%=t(:subtitle, scope: [:portfolio])%></p>
			</div>
			<div class="portfolioFilter">
				<ul>
					<li><a href="#" data-filter="*" class="current"><%=t(:all, scope: [:portfolio, :filters])%></a></li>
					<li><a href="#" data-filter=".backend"><%=t(:backend, scope: [:portfolio, :filters])%></a></li>
					<li><a href="#" data-filter=".frontend"><%=t(:frontend, scope: [:portfolio, :filters])%></a></li>
					<li><a href="#" data-filter=".engineering"><%=t(:engineering, scope: [:portfolio, :filters])%></a></li>
				</ul>
			</div>
			<ul class="portfolioContainer row">
				<li class="backend frontend col-xs-6 col-sm-4 col-md-3 col-lg-3">
					<div class="lightCon">
						<span class="hoverBox">
							<span class="smallIcon">
								<%=link_to asset_path('portfolio/add.jpg'), rel: "lightbox-demo", title: t(:caption, scope: [:portfolio, :items, :item1]), class: "zoom lb lb_warsaw1" do %>
									<i class="fa fa-search fa-2x"></i>
								<%end%>
								<%=link_to "http://www.alagoasdevday.com.br", rel: "lightbox-demo", title: t(:name, scope: [:portfolio, :items, :item1]), class: "linKed", target: :blank do %>
									<i class="fa fa-link fa-2x"></i></i>
								<%end%>
							</span>
						</span>
						<%=image_tag "portfolio/tn/add.jpg", width: 450, height: 450, alt: t(:name, scope: [:portfolio, :items, :item1]) %>
					</div>
				</li>
				<li class="backend frontend engineering col-xs-6 col-sm-4 col-md-3 col-lg-3">
					<div class="lightCon">
						<span class="hoverBox">
							<span class="smallIcon">
								<%=link_to asset_path('portfolio/casamento.jpg'), rel: "lightbox-demo", title: t(:caption, scope: [:portfolio, :items, :item2]), class: "zoom lb lb_warsaw1" do %>
									<i class="fa fa-search fa-2x"></i>
								<%end%>
								<%=link_to "http://www.rosanaegustavo.com.br", rel: "lightbox-demo", title: t(:name, scope: [:portfolio, :items, :item2]), class: "linKed", target: :blank do %>
									<i class="fa fa-link fa-2x"></i></i>
								<%end%>
							</span>
						</span>
						<%=image_tag "portfolio/tn/casamento.jpg", width: 450, height: 450, alt: t(:name, scope: [:portfolio, :items, :item2]) %>
					</div>
				</li>
				<li class="backend frontend engineering col-xs-6 col-sm-4 col-md-3 col-lg-3">
					<div class="lightCon">
						<span class="hoverBox">
							<span class="smallIcon">
								<%=link_to asset_path('portfolio/duranbah.jpg'), rel: "lightbox-demo", title: t(:caption, scope: [:portfolio, :items, :item3]), class: "zoom lb lb_warsaw1" do %>
									<i class="fa fa-search fa-2x"></i>
								<%end%>
								<%=link_to "http://www.duranbah.com.br", rel: "lightbox-demo", title: t(:name, scope: [:portfolio, :items, :item3]), class: "linKed", target: :blank do %>
									<i class="fa fa-link fa-2x"></i></i>
								<%end%>
							</span>
						</span>
						<%=image_tag "portfolio/tn/duranbah.jpg", width: 450, height: 450, alt: t(:name, scope: [:portfolio, :items, :item3]) %>
					</div>
				</li>
				<li class="backend frontend engineering col-xs-6 col-sm-4 col-md-3 col-lg-3">
					<div class="lightCon">
						<span class="hoverBox">
							<span class="smallIcon">
								<%=link_to asset_path('portfolio/waterhouse.jpg'), rel: "lightbox-demo", title: t(:caption, scope: [:portfolio, :items, :item4]), class: "zoom lb lb_warsaw1" do %>
									<i class="fa fa-search fa-2x"></i>
								<%end%>
								<%=link_to "http://www.waterhouse.com.br", rel: "lightbox-demo", title: t(:name, scope: [:portfolio, :items, :item4]), class: "linKed", target: :blank do %>
									<i class="fa fa-link fa-2x"></i></i>
								<%end%>
							</span>
						</span>
						<%=image_tag "portfolio/tn/waterhouse.jpg", width: 450, height: 450, alt: t(:name, scope: [:portfolio, :items, :item4]) %>
					</div>
				</li>
				<li class="backend frontend engineering col-xs-6 col-sm-4 col-md-3 col-lg-3">
					<div class="lightCon">
						<span class="hoverBox">
							<span class="smallIcon">
								<%=link_to asset_path('portfolio/lotebox-mvp.jpg'), rel: "lightbox-demo", title: t(:caption, scope: [:portfolio, :items, :item5]), class: "zoom lb lb_warsaw1" do %>
									<i class="fa fa-search fa-2x"></i>
								<%end%>
								<%=link_to "http://mvp.lotebox.co", rel: "lightbox-demo", title: t(:name, scope: [:portfolio, :items, :item5]), class: "linKed", target: :blank do %>
									<i class="fa fa-link fa-2x"></i></i>
								<%end%>
							</span>
						</span>
						<%=image_tag "portfolio/tn/lotebox-mvp.jpg", width: 450, height: 450, alt: t(:name, scope: [:portfolio, :items, :item5]) %>
					</div>
				</li>
				<li class="backend frontend engineering col-xs-6 col-sm-4 col-md-3 col-lg-3">
					<div class="lightCon">
						<span class="hoverBox">
							<span class="smallIcon">
								<%=link_to asset_path('portfolio/zeropixel.jpg'), rel: "lightbox-demo", title: t(:caption, scope: [:portfolio, :items, :item6]), class: "zoom lb lb_warsaw1" do %>
									<i class="fa fa-search fa-2x"></i>
								<%end%>
								<%=link_to "http://www.zeropixel.com.br", rel: "lightbox-demo", title: t(:name, scope: [:portfolio, :items, :item6]), class: "linKed", target: :blank do %>
									<i class="fa fa-link fa-2x"></i></i>
								<%end%>
							</span>
						</span>
						<%=image_tag "portfolio/tn/zeropixel.jpg", width: 450, height: 450, alt: t(:name, scope: [:portfolio, :items, :item6]) %>
					</div>
				</li>
				<li class="frontend col-xs-6 col-sm-4 col-md-3 col-lg-3">
					<div class="lightCon">
						<span class="hoverBox">
							<span class="smallIcon">
								<%=link_to asset_path('portfolio/kuka.jpg'), rel: "lightbox-demo", title: t(:caption, scope: [:portfolio, :items, :item7]), class: "zoom lb lb_warsaw1" do %>
									<i class="fa fa-search fa-2x"></i>
								<%end%>
								<%=link_to "http://www.kukaestrategia.com/", rel: "lightbox-demo", title: t(:name, scope: [:portfolio, :items, :item7]), class: "linKed", target: :blank do %>
									<i class="fa fa-link fa-2x"></i></i>
								<%end%>
							</span>
						</span>
						<%=image_tag "portfolio/tn/kuka.jpg", width: 450, height: 450, alt: t(:name, scope: [:portfolio, :items, :item7]) %>
					</div>
				</li>
				<li class="backend frontend col-xs-6 col-sm-4 col-md-3 col-lg-3">
					<div class="lightCon">
						<span class="hoverBox">
							<span class="smallIcon">
								<%=link_to asset_path('portfolio/cliom.jpg'), rel: "lightbox-demo", title: t(:caption, scope: [:portfolio, :items, :item8]), class: "zoom lb lb_warsaw1" do %>
									<i class="fa fa-search fa-2x"></i>
								<%end%>
								<%=link_to "http://www.hospitalcliom.com.br/", rel: "lightbox-demo", title: t(:name, scope: [:portfolio, :items, :item8]), class: "linKed", target: :blank do %>
									<i class="fa fa-link fa-2x"></i></i>
								<%end%>
							</span>
						</span>
						<%=image_tag "portfolio/tn/cliom.jpg", width: 450, height: 450, alt: t(:name, scope: [:portfolio, :items, :item8]) %>
					</div>
				</li>
				<li class="backend frontend col-xs-6 col-sm-4 col-md-3 col-lg-3">
					<div class="lightCon">
						<span class="hoverBox">
							<span class="smallIcon">
								<%=link_to asset_path('portfolio/jambo.jpg'), rel: "lightbox-demo", title: t(:caption, scope: [:portfolio, :items, :item9]), class: "zoom lb lb_warsaw1" do %>
									<i class="fa fa-search fa-2x"></i>
								<%end%>
								<%=link_to "http://www.grupojambo.com.br/", rel: "lightbox-demo", title: t(:name, scope: [:portfolio, :items, :item9]), class: "linKed", target: :blank do %>
									<i class="fa fa-link fa-2x"></i></i>
								<%end%>
							</span>
						</span>
						<%=image_tag "portfolio/tn/jambo.jpg", width: 450, height: 450, alt: t(:name, scope: [:portfolio, :items, :item9]) %>
					</div>
				</li>
				<li class="frontend col-xs-6 col-sm-4 col-md-3 col-lg-3">
					<div class="lightCon">
						<span class="hoverBox">
							<span class="smallIcon">
								<%=link_to asset_path('portfolio/junior-almeida.jpg'), rel: "lightbox-demo", title: t(:caption, scope: [:portfolio, :items, :item10]), class: "zoom lb lb_warsaw1" do %>
									<i class="fa fa-search fa-2x"></i>
								<%end%>
								<%=link_to "http://www.suechamusca.com.br/junioralmeida/", rel: "lightbox-demo", title: t(:name, scope: [:portfolio, :items, :item10]), class: "linKed", target: :blank do %>
									<i class="fa fa-link fa-2x"></i></i>
								<%end%>
							</span>
						</span>
						<%=image_tag "portfolio/tn/junior-almeida.jpg", width: 450, height: 450, alt: t(:name, scope: [:portfolio, :items, :item10]) %>
					</div>
				</li>
				<li class="backend frontend col-xs-6 col-sm-4 col-md-3 col-lg-3">
					<div class="lightCon">
						<span class="hoverBox">
							<span class="smallIcon">
								<%=link_to asset_path('portfolio/maceiomarhotel.jpg'), rel: "lightbox-demo", title: t(:caption, scope: [:portfolio, :items, :item11]), class: "zoom lb lb_warsaw1" do %>
									<i class="fa fa-search fa-2x"></i>
								<%end%>
								<%=link_to "http://www.maceiomarhotel.com.br/", rel: "lightbox-demo", title: t(:name, scope: [:portfolio, :items, :item11]), class: "linKed", target: :blank do %>
									<i class="fa fa-link fa-2x"></i></i>
								<%end%>
							</span>
						</span>
						<%=image_tag "portfolio/tn/maceiomarhotel.jpg", width: 450, height: 450, alt: t(:name, scope: [:portfolio, :items, :item11]) %>
					</div>
				</li>
				<li class="frontend col-xs-6 col-sm-4 col-md-3 col-lg-3">
					<div class="lightCon">
						<span class="hoverBox">
							<span class="smallIcon">
								<%=link_to asset_path('portfolio/nordeste.jpg'), rel: "lightbox-demo", title: t(:caption, scope: [:portfolio, :items, :item12]), class: "zoom lb lb_warsaw1" do %>
									<i class="fa fa-search fa-2x"></i>
								<%end%>
								<%=link_to "http://www.nordestetecnologia.com.br/", rel: "lightbox-demo", title: t(:name, scope: [:portfolio, :items, :item12]), class: "linKed", target: :blank do %>
									<i class="fa fa-link fa-2x"></i></i>
								<%end%>
							</span>
						</span>
						<%=image_tag "portfolio/tn/nordeste.jpg", width: 450, height: 450, alt: t(:name, scope: [:portfolio, :items, :item12]) %>
					</div>
				</li>
			</ul>
		</div>
	</section>
	<!--portfolio end-->
	<!--contact start-->
	<section class="contact" id="contact">
		<div class="container topCon">
			<div class="heading">
				<h2><%=t(:title, scope: [:contact])%></h2>
				<p><%=t(:subtitle, scope: [:contact])%></p>
			</div>
		</div>
	</section>
	<section class="contactDetails">
		<div class="container">
			<!--contact info start-->
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<h4><%=t(:title, scope: [:contact, :contacts])%></h4>
				<p class="col-xs-12 col-sm-4 col-md-4 col-lg-4" itemprop="address" itemscope itemtype="https://schema.org/PostalAddress"> <i class="fa fa-map-marker fa-lg"></i> <span itemprop="addressLocality"><%=t(:city, scope: [:contact, :contacts, :address])%></span> / <span itemprop="addressRegion"><%=t(:state, scope: [:contact, :contacts, :address])%></span> - <span itemprop="addressCountry"><%=t(:country, scope: [:contact, :contacts, :address])%></span></p>
				<p class="col-xs-12 col-sm-4 col-md-4 col-lg-4" itemprop="telephone"> <i class="fa fa-mobile fa-lg"></i> <%=t(:phone, scope: [:contact, :contacts])%></p>
				<p class="col-xs-12 col-sm-4 col-md-4 col-lg-4" itemprop="email"> <i class="fa fa-envelope-o "></i> <a href="mailto:gustavocunha&#64;gmail&#46;com"><%=t(:email, scope: [:contact, :contacts]).html_safe%></a></p>
				<p class="col-xs-12 col-sm-4 col-md-4 col-lg-4"> <i class="fa fa-github"></i> <a href="https://github.com/gmmcal" target="_blank"><%=t(:github, scope: [:contact, :contacts])%></a></p>
				<p class="col-xs-12 col-sm-4 col-md-4 col-lg-4"> <i class="fa fa-linkedin"></i> <a href="https://linkedin.com/in/gmmcal" target="_blank"><%=t(:linkedin, scope: [:contact, :contacts])%></a></p>
				<p class="col-xs-12 col-sm-4 col-md-4 col-lg-4"> <i class="fa fa-twitter"></i> <a href="https://twitter.com/gmmcal" target="_blank"><%=t(:twitter, scope: [:contact, :contacts])%></a></p>
			</div>
			<!--contact info end-->
		</div>
	</section>
	<!--contact end-->
