
<%= simple_form_for([:admin, user], url: %i[admin user], html: { id: 'edit_user' }, data: { turbo: false }) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :email, required: true %>
    <%= f.input :default_locale %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
