<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2"><%= t(:edit, scope: %i[helpers]) %> <%= @user.first_name %></h1>
</div>

<%= render 'admin/shared/notification' %>

<div class="container-fluid">
  <div class="row">
    <div class="col col-6">
      <%= render 'form', user: @user %>
    </div>
    <div class="col col-6">
      <%= render 'password_form', user: @user %>
    </div>
  </div>
</div>
