<div class="row work-details">
  <div class="col-xs-12 col-sm-12 col-md-3 col-lg-2 left-area">
    <div class="year">
      <span class="start"><%= work_experience.start_date %></span>
      <span class="end"><%= work_experience.end_date %></span>
    </div>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-9 col-lg-10 right-area">
    <div class="arrowpart"></div>
    <div class="ex-con">
      <h4><span><%= work_experience.company_name %></span> - <span><span><%= work_experience.city %></span> - <span><%= work_experience.country %></span></span></h4>
      <h5><%= work_experience.position %></h5>
      <div class="description"><%= work_experience.description %></div>
    </div>
  </div>
</div>
