<div class="row workDetails" itemprop="worksFor" itemscope itemtype="https://schema.org/Organization">
  <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
    <div class="workYear"><%=ldate(work_experience.start_date)%><br><%=ldate(work_experience.end_date)%></div>
  </div>
  <div class="col-xs-12 col-sm-9 col-md-10 col-lg-10 rightArea">
    <div class="arrowpart"></div>
    <div class="exCon">
      <h4><span itemprop="legalName"><%=work_experience.company_name%></span> - <span itemprop="location" itemscope itemtype="https://schema.org/PostalAddress"><span itemprop="addressLocality"><%=work_experience.city%></span> - <span itemprop="addressCountry"><%=work_experience.country%></span></span></h4>
      <h5><%=work_experience.position%></h5>
      <p itemprop="description"><%=work_experience.description%></p>
    </div>
  </div>
</div>
