<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-5 pb-2 mb-3 border-bottom">
  <h1 class="h2"><%= t(:sign_in, scope: %i[devise shared links]) %></h1>
</div>

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <%= f.input :email,
              required: false,
              autofocus: true,
              input_html: { autocomplete: "email" } %>
  <%= f.input :password,
              required: false,
              input_html: { autocomplete: "current-password" } %>
  <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>

  <%= f.button :submit, t(:sign_in, scope: %i[devise shared links]) %>
<% end %>
