<turbo-frame id="about">
  <section class="about-me">
    <div class="container">
      <div class="heading">
        <h2><%= t('title', scope: %i[frontend about]) %></h2>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 pb-48 details">
          <h3><%= t('name', scope: %i[frontend template]) %></h3>
          <h4 class="sub-heading"><%= @about.job_title %></h4>
          <div class="description"><%= @about.description %></div>
          <a href="<%= @about.cv %>" class="btn-download" data-turbo="false" rel="noopener"><%= t('file_title', scope: %i[frontend about])%></a>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4 offset-lg-1 image">
          <div class="lazy topmar"></div>
        </div>
      </div>
    </div>
  </section>
</turbo-frame>
