<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2"><%= WorkExperience.model_name.human.pluralize %></h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group mr-2">
      <%= link_to t(:new, scope: %i[helpers]), "#", class: 'btn btn-sm btn-outline-secondary', data: { toggle: 'modal', target: '#modal_new_work_experience' } %>
    </div>
  </div>
</div>

<%= render 'admin/shared/notification' %>

<%= render 'admin/shared/tabs', action: :work_experiences %>

<%= turbo_frame_tag "work_experiences_#{active_locale}", class: "row sortable", data: { url: admin_reorder_path, model: WorkExperience.model_name.param_key } do %>
  <%= render @work_experiences %>
<% end %>

<%= render partial: 'admin/shared/modal', locals: { model: WorkExperience } %>
