<div class="list-group pt-3">
  <div class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex justify-content-between pb-2 pt-2">
      <h5 class="mb-1"><%= about.job_title %></h5>
      <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group">
          <%= link_to t(:edit, scope: %i[helpers]), [:edit, :admin, about], class: 'btn btn-primary btn-sm btn-outline-secondary' %>
          <% if about.cv.attached? %>
            <%= link_to t(:download_cv, scope: %i[helpers]), about.cv, class: 'btn btn-sm btn-outline-secondary', target: '_blank' %>
          <% end %>
        </div>
      </div>
    </div>
    <%= markdown about.description %>
    <small class="d-block pb-1"><%= About.human_attribute_name(:city) %>: <%= about.city %></small>
    <small class="d-block pb-1"><%= About.human_attribute_name(:country) %>: <%= country_name(about.country) %></small>
    <small class="d-block pb-1"><%= About.human_attribute_name(:phone_number) %>: <%= about.phone_number %></small>
    <small class="d-block pb-1"><%= About.human_attribute_name(:email) %>: <%= about.email %></small>
  </div>
</div>
