
<%= simple_form_for([:admin, about]) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :job_title %>
    <%= f.input :description %>
    <%= f.input :cv %>
    <%= f.input :city %>
    <%= f.input :country %>
    <%= f.input :phone_number %>
    <%= f.input :email %>
    <%= f.input :locale, as: :hidden %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
