<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie ie6 no-js" lang="<%=I18n.locale%>"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7 no-js" lang="<%=I18n.locale%>"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8 no-js" lang="<%=I18n.locale%>"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9 no-js" lang="<%=I18n.locale%>"> <![endif]-->
<!--[if gt IE 9]><!--><html class="no-js" lang="<%=I18n.locale%>"><!--<![endif]--><head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title><%= t(:title, scope: %i[frontend helpers]) %></title>
  <%= stylesheet_link_tag 'frontend/application', integrity: true, media: 'all', 'data-turbo-track': 'reload', rel: 'stylesheet' %>
  <%= stylesheet_link_tag 'frontend/tailwind', integrity: true, media: 'all', 'data-turbo-track': 'reload', rel: 'stylesheet' %>
  <%= stylesheet_link_tag 'frontend/grid', integrity: true, media: 'all', 'data-turbo-track': 'reload', rel: 'stylesheet' %>
  <%= stylesheet_link_tag 'frontend/navbar', integrity: true, media: 'all', 'data-turbo-track': 'reload', rel: 'stylesheet' %>
  <%= stylesheet_link_tag 'frontend/setup', integrity: true, media: 'all', 'data-turbo-track': 'reload', rel: 'stylesheet' %>
  <%= stylesheet_link_tag 'frontend/images', integrity: true, media: 'all', 'data-turbo-track': 'reload', rel: 'stylesheet' %>
  <%= stylesheet_link_tag 'frontend/fonts', integrity: true, media: 'all', 'data-turbo-track': 'reload', rel: 'stylesheet' %>
  <%= stylesheet_link_tag 'frontend/print', integrity: true, media: 'all', 'data-turbo-track': 'reload', rel: 'stylesheet' %>
  <%= stylesheet_link_tag 'frontend/components/about', integrity: true, media: 'all', 'data-turbo-track': 'reload', rel: 'stylesheet' %>
  <%= stylesheet_link_tag 'frontend/components/banner', integrity: true, media: 'all', 'data-turbo-track': 'reload', rel: 'stylesheet' %>
  <%= stylesheet_link_tag 'frontend/components/contact', integrity: true, media: 'all', 'data-turbo-track': 'reload', rel: 'stylesheet' %>
  <%= stylesheet_link_tag 'frontend/components/education', integrity: true, media: 'all', 'data-turbo-track': 'reload', rel: 'stylesheet' %>
  <%= stylesheet_link_tag 'frontend/components/educations', integrity: true, media: 'all', 'data-turbo-track': 'reload', rel: 'stylesheet' %>
  <%= stylesheet_link_tag 'frontend/components/experience', integrity: true, media: 'all', 'data-turbo-track': 'reload', rel: 'stylesheet' %>
  <%= stylesheet_link_tag 'frontend/components/experiences', integrity: true, media: 'all', 'data-turbo-track': 'reload', rel: 'stylesheet' %>
  <%= stylesheet_link_tag 'frontend/components/footer', integrity: true, media: 'all', 'data-turbo-track': 'reload', rel: 'stylesheet' %>
  <%= stylesheet_link_tag 'frontend/components/header', integrity: true, media: 'all', 'data-turbo-track': 'reload', rel: 'stylesheet' %>
  <%= stylesheet_link_tag 'frontend/components/menu', integrity: true, media: 'all', 'data-turbo-track': 'reload', rel: 'stylesheet' %>
  <%= stylesheet_link_tag 'frontend/components/menu-container', integrity: true, media: 'all', 'data-turbo-track': 'reload', rel: 'stylesheet' %>
  <%= stylesheet_link_tag 'frontend/components/menu-item', integrity: true, media: 'all', 'data-turbo-track': 'reload', rel: 'stylesheet' %>
  <%= stylesheet_link_tag 'frontend/components/skill', integrity: true, media: 'all', 'data-turbo-track': 'reload', rel: 'stylesheet' %>
  <%= stylesheet_link_tag 'frontend/components/skills', integrity: true, media: 'all', 'data-turbo-track': 'reload', rel: 'stylesheet' %>
  <%= stylesheet_link_tag 'frontend/components/social', integrity: true, media: 'all', 'data-turbo-track': 'reload', rel: 'stylesheet' %>
  <link rel="manifest" href="manifest.json">
  <%= favicon_link_tag %>
  <%= favicon_link_tag 'icons/apple-icon-57x57.png', rel: 'apple-touch-icon', sizes: '57x57' %>
  <%= favicon_link_tag 'icons/apple-icon-60x60.png', rel: 'apple-touch-icon', sizes: '60x60' %>
  <%= favicon_link_tag 'icons/apple-icon-72x72.png', rel: 'apple-touch-icon', sizes: '72x72' %>
  <%= favicon_link_tag 'icons/apple-icon-76x76.png', rel: 'apple-touch-icon', sizes: '76x76' %>
  <%= favicon_link_tag 'icons/apple-icon-114x114.png', rel: 'apple-touch-icon', sizes: '114x114' %>
  <%= favicon_link_tag 'icons/apple-icon-120x120.png', rel: 'apple-touch-icon', sizes: '120x120' %>
  <%= favicon_link_tag 'icons/apple-icon-144x144.png', rel: 'apple-touch-icon', sizes: '144x144' %>
  <%= favicon_link_tag 'icons/apple-icon-152x152.png', rel: 'apple-touch-icon', sizes: '152x152' %>
  <%= favicon_link_tag 'icons/apple-icon-180x180.png', rel: 'apple-touch-icon', sizes: '180x180' %>
  <%= favicon_link_tag 'icons/android-icon-192x192.png', rel: 'icon', type: 'image/png', sizes: '192x192'  %>
  <%= favicon_link_tag 'icons/favicon-32x32.png', rel: 'icon', type: 'image/png', sizes: '32x32' %>
  <%= favicon_link_tag 'icons/favicon-96x96.png', rel: 'icon', type: 'image/png', sizes: '96x96' %>
  <%= favicon_link_tag 'icons/favicon-16x16.png', rel: 'icon', type: 'image/png', sizes: '16x16' %>
  <meta name="msapplication-TileColor" content="#262b37">
  <meta name="msapplication-TileImage" content="<%= asset_url('icons/ms-icon-144x144.png') %>">
  <meta name="theme-color" content="#262b37">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="<%=@about.description.to_plain_text%>" />
  <!-- Open Graph Tags -->
  <meta property="og:title" content="<%= t(:title, scope: %i[frontend helpers]) %>" />
  <meta property="og:site_name" content="<%= t(:header, scope: %i[frontend helpers]) %>"/>
  <meta property="og:image" content="<%= asset_url('avatar.jpg') %>"/>
  <meta property="og:url" content="<%= home_url(I18n.locale) %>" />
  <meta property="og:description" content="<%= @about.description.to_plain_text %>" />
  <meta property="og:type" content="website" />
  <meta property="og:locale" content="<%= I18n.locale %>" />
  <!--google font style-->
  <!--font-family: 'Open Sans', sans-serif;-->
  <%= csrf_meta_tags %>
  <%= javascript_importmap_tags("application") %>
</head>
<body id="home" class="<%= body_class %>" data-locale="<%= I18n.locale %>">
  <div class="wrapper" id="wrapper">
    <%= render 'header' %>
    <%= yield %>
    <%= render 'contact' %>
    <%= render 'footer' %>
  </div>
  <!-- File generated at <%= Time.now %>-->
</body>
</html>
